Repository startreedata/thirdeye, pull requests merged in 2022-12, with the labels that each got.

#816 fix(ui): TE-1112 show empty message when alert templates for a section is missing
  thirdeye-ui/src/app/components/alert-wizard-v3/algorithm-selection/algorithm-selection.component.tsx
  thirdeye-ui/src/app/pages/welcome-page/create-alert/select-type/select-type-page.component.tsx
Labels: thirdeye-ui

#713 chore(ui): TE-1114 add header to not cache index.html
  thirdeye-ui/docker/templates/default.conf.template
Labels: thirdeye-ui config

#824 chore(ui): [auto] add changelog for thirdeye-ui-1.73.0 release
  thirdeye-ui/CHANGELOG.md
Labels: thirdeye-ui config, release

#817 refactor(ui): TE-1113 use get datasets api for non onboarded datasets and restructure create datasource files
  thirdeye-ui/src/app/components/welcome-landing-page/welcome-step-card/welcome-step-card.component.tsx
  thirdeye-ui/src/app/components/welcome-landing-page/welcome-step-card/welcome-step-card.interfaces.ts
  thirdeye-ui/src/app/components/welcome-onboard-datasource/wizard-bottom-bar/wizard-bottom-bar.component.tsx
  thirdeye-ui/src/app/components/welcome-onboard-datasource/wizard-bottom-bar/wizard-bottom-bar.interfaces.ts
  thirdeye-ui/src/app/locale/languages/en-us.json
  thirdeye-ui/src/app/pages/welcome-onboard-datasource-select-datasets/welcome-onboard-datasource-select-datasets.component.tsx
  thirdeye-ui/src/app/pages/welcome-onboard-datasource-select-datasets/welcome-onboard-datasource-select-datasets.interfaces.ts
  thirdeye-ui/src/app/pages/welcome-onboard-datasource-select-datasets/welcome-onboard-datasource-select-datasets.utils.ts
  thirdeye-ui/src/app/pages/welcome-page/create-datasource/create-datasource-page.component.tsx
  thirdeye-ui/src/app/pages/welcome-page/create-datasource/onboard-datasets/onboard-datasets-page.component.tsx
  thirdeye-ui/src/app/pages/welcome-page/create-datasource/onboard-datasource/onboard-datasource-page.component.tsx
  thirdeye-ui/src/app/pages/welcome-page/create-datasource/onboard-datasource/onboard-datasource-page.interfaces.ts
  thirdeye-ui/src/app/pages/welcome-page/create-datasource/onboard-datasource/onboard-datasource-page.utils.ts
  thirdeye-ui/src/app/pages/welcome-page/landing/landing-page.component.tsx
  thirdeye-ui/src/app/rest/datasources/datasources.actions.ts
  thirdeye-ui/src/app/rest/datasources/datasources.interfaces.ts
  thirdeye-ui/src/app/rest/datasources/datasources.rest.test.ts
  thirdeye-ui/src/app/rest/datasources/datasources.rest.ts
  thirdeye-ui/src/app/routers/welcome/welcome.router.tsx
  thirdeye-ui/src/app/utils/datasources/datasources.util.test.ts
  thirdeye-ui/src/app/utils/datasources/datasources.util.ts
  thirdeye-ui/src/app/utils/routes/routes.util.ts
Labels: thirdeye-ui

#815 refactor(ui): TE-1111 hide navbar in welcome flow
  thirdeye-ui/src/app/app.tsx
  thirdeye-ui/src/app/components/app-bar/app-bar-config-provider/app-bar-config-provider.component.tsx
  thirdeye-ui/src/app/components/app-bar/app-bar-config-provider/app-bar-config-provider.interface.ts
  thirdeye-ui/src/app/pages/welcome-page/create-alert/create-alert-page.component.tsx
  thirdeye-ui/src/app/routers/welcome/welcome.router.tsx
Labels: thirdeye-ui

#825 feat(ui): TE-1120 added intro video to welcome screen
  thirdeye-ui/src/app/locale/languages/en-us.json
  thirdeye-ui/src/app/pages/welcome-page/landing/landing-page.component.tsx
  thirdeye-ui/src/app/pages/welcome-page/landing/landing-page.style.ts
Labels: thirdeye-ui

#827 feat(ui): TE-1128 fix overflow for long text in enumeration table
  thirdeye-ui/src/app/components/alert-view/enumeration-items-table/enumeration-item-row/enumeration-item-row.component.tsx
  thirdeye-ui/src/app/components/alert-view/enumeration-items-table/enumeration-item-row/enumeration-item-row.style.ts
  thirdeye-ui/src/app/pages/alerts-view-page/alerts-view-page.component.tsx
  thirdeye-ui/src/app/pages/alerts-view-page/alerts-view-page.utils.ts
Labels: thirdeye-ui

#828 feat(ui): TE-1129 added property description to alert template builder
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-template/alert-template-properties-builder/alert-template-properties-builder.component.tsx
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-template/alert-template-properties-builder/alert-template-properties-builder.interfaces.ts
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-template/alert-template.component.tsx
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-template/alert-template.utils.ts
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-wizard-v2.styles.ts
Labels: thirdeye-ui

#840 fix(ui): TE-1147 fix bug where UI should send non quoted strings
  thirdeye-ui/src/app/components/anomaly-dimension-analysis/algorithm-table/algorithm-table.component.tsx
  thirdeye-ui/src/app/components/anomaly-dimension-analysis/algorithm-table/algorithm-table.utils.tsx
  thirdeye-ui/src/app/components/cohort-detector/cohorts-table/cohorts-table.component.tsx
  thirdeye-ui/src/app/components/rca/anomaly-breakdown-comparison-heatmap/anomaly-breakdown-comparison-heatmap.component.tsx
  thirdeye-ui/src/app/components/rca/anomaly-time-series-card/anomaly-time-series-card.component.tsx
  thirdeye-ui/src/app/components/rca/anomaly-time-series-card/anomaly-time-series-card.utils.tsx
  thirdeye-ui/src/app/components/rca/anomaly-time-series-card/rca-chart-legend/filtered-time-series-row/filtered-time-series-row.component.tsx
  thirdeye-ui/src/app/locale/languages/en-us.json
  thirdeye-ui/src/app/utils/params/params.util.test.ts
  thirdeye-ui/src/app/utils/params/params.util.ts
Labels: thirdeye-ui

#842 chore(ui): [auto] add changelog for thirdeye-ui-1.75.0 release
  thirdeye-ui/CHANGELOG.md
Labels: thirdeye-ui config, release

#844 feat(ui): TE-1150 turn alert name into href in alerts table
  thirdeye-ui/src/app/components/alert-list-v1/alert-list-v1.component.tsx
Labels: thirdeye-ui

#846 chore(ui): [auto] add changelog for thirdeye-ui-2.0.0 release
  thirdeye-ui/CHANGELOG.md
Labels: thirdeye-ui config, release

#850 fix(ui): TE-1158 ensure valid start and end exist when fetching data
  thirdeye-ui/src/app/components/alert-wizard-v3/preview-chart/preview-chart.component.tsx
Labels: thirdeye-ui

#848 feat(ui): TE-1156 allow users to navigate to all alerts after successful alert creation from welcome flow
  thirdeye-ui/src/app/pages/home-page/home-page.component.tsx
Labels: thirdeye-ui

#847 fix(ui): TE-1153 append random 3 character string to sample alert name when creating
  thirdeye-ui/src/app/locale/languages/en-us.json
  thirdeye-ui/src/app/pages/welcome-page/create-alert/select-type/select-type-page.component.tsx
  thirdeye-ui/src/app/pages/welcome-page/create-alert/select-type/select-type-page.interface.ts
  thirdeye-ui/src/app/routers/alerts-guided-create/alerts-guided-create.router.tsx
Labels: thirdeye-ui

#849 fix(ui): TE-1157 fix bug where invalid json will cause white screen
  thirdeye-ui/src/app/components/alert-wizard-v3/threshold-setup/threshold-setup.component.tsx
Labels: thirdeye-ui

#853 feat(ui): TE-1160 autofill metric, datasource, and dataset if they exist when using cohort recommender
  thirdeye-ui/src/app/components/cohort-detector/dataset-details/dataset-details.component.tsx
  thirdeye-ui/src/app/components/cohort-detector/dataset-details/dataset-details.interfaces.ts
  thirdeye-ui/src/app/components/welcome-onboard-datasource/wizard-bottom-bar/wizard-bottom-bar.component.tsx
  thirdeye-ui/src/app/locale/languages/en-us.json
  thirdeye-ui/src/app/pages/welcome-page/create-alert/select-type/select-type-page.component.tsx
  thirdeye-ui/src/app/pages/welcome-page/create-alert/select-type/select-type-page.interface.ts
  thirdeye-ui/src/app/pages/welcome-page/create-alert/setup-dimension-groups/setup-dimension-groups-page.component.tsx
  thirdeye-ui/src/app/routers/alerts-guided-create/alerts-guided-create.router.interface.ts
  thirdeye-ui/src/app/routers/alerts-guided-create/alerts-guided-create.router.tsx
  thirdeye-ui/src/app/routers/welcome/welcome.router.tsx
Labels: thirdeye-ui

#852 fix(ui): TE-1152 incorporating the properties metadata into the validation for alert creation
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-template/alert-template-properties-builder/alert-template-properties-builder.component.tsx
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-template/alert-template-properties-builder/alert-template-properties-builder.interfaces.ts
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-template/alert-template-properties-builder/alert-template-properties-builder.test.tsx
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-template/alert-template.component.tsx
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-template/alert-template.interfaces.ts
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-template/alert-template.utils.test.ts
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-template/alert-template.utils.ts
  thirdeye-ui/src/app/pages/alerts-create-page/alerts-create-advance-page/alerts-create-advance-page.component.tsx
  thirdeye-ui/src/app/pages/alerts-create-page/alerts-create-advance-page/alerts-create-advance-page.util.ts
  thirdeye-ui/src/app/pages/alerts-update-page/alerts-update-advanced-page.component.tsx
  thirdeye-ui/src/app/rest/dto/alert-template.interfaces.ts
  thirdeye-ui/src/app/rest/dto/alert.interfaces.ts
Labels: thirdeye-ui

#855 chore(ui): TE-1168 update template properties default values
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-template/alert-template.utils.ts
Labels: thirdeye-ui
