Repository startreedata/thirdeye, pull requests merged in 2022-08, with the labels that each got.

#641 feat(ui): reset alert from all alerts page
  thirdeye-ui/src/app/components/alert-list-v1/alert-list-v1.component.tsx
  thirdeye-ui/src/app/components/alert-list-v1/alert-list-v1.interfaces.ts
  thirdeye-ui/src/app/components/alert-list-v1/alert-list-v1.test.tsx
  thirdeye-ui/src/app/locale/languages/en-us.json
  thirdeye-ui/src/app/pages/alerts-all-page/alerts-all-page.component.tsx
  thirdeye-ui/src/app/rest/alerts/alerts.actions.test.ts
  thirdeye-ui/src/app/rest/alerts/alerts.actions.ts
  thirdeye-ui/src/app/rest/alerts/alerts.interfaces.ts
  thirdeye-ui/src/app/rest/alerts/alerts.rest.test.ts
  thirdeye-ui/src/app/rest/alerts/alerts.rest.ts
Labels: thirdeye-ui

#644 chore(ui): append content hash to production build filenames
  thirdeye-ui/webpack.config.prod.js
Labels: thirdeye-ui config

#646 refactor(ui): use common grid configuration for form section for alert creation
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-details/alert-details.component.tsx
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-details/alert-frequency/alert-date-time-cron-advance/alert-date-time-cron-advance.component.tsx
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-template/alert-template-properties-builder/alert-template-properties-builder.component.tsx
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-template/alert-template.component.tsx
  thirdeye-ui/src/app/components/form-basics/input-section/input-section.component.tsx
  thirdeye-ui/src/app/components/form-basics/input-section/input-section.interfaces.ts
  thirdeye-ui/src/app/pages/alerts-create-page/alerts-create-base-page.component.tsx
Labels: thirdeye-ui

#605 fix(ui): redirect to anomaly details page
  thirdeye-ui/src/app/pages/root-cause-analysis-investigation-state-tracker/investigation-state-tracker.component.tsx
Labels: thirdeye-ui

#648 fix(ui): allow empty arrays and boolean in template properties
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-template/alert-template-properties-builder/alert-template-properties-builder.component.tsx
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-template/alert-template-properties-builder/alert-template-properties-builder.interfaces.ts
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-template/alert-template.utils.test.ts
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-template/alert-template.utils.ts
  thirdeye-ui/src/app/rest/dto/alert.interfaces.ts
  thirdeye-ui/src/app/utils/alerts/alerts.util.ts
Labels: thirdeye-ui

#660 fix(ui): maintain enabaled and disabled items when zoom changes
  thirdeye-ui/src/app/components/rca/anomaly-time-series-card/anomaly-time-series-card.component.tsx
Labels: thirdeye-ui

#657 fix(ui): address enhancement feedback for heatmap
  thirdeye-ui/package-lock.json
  thirdeye-ui/package.json
  thirdeye-ui/src/app/components/visualizations/treemap/treemap-rect.component.tsx
  thirdeye-ui/src/app/components/visualizations/treemap/treemap.component.tsx
  thirdeye-ui/src/app/components/visualizations/treemap/treemap.interfaces.ts
  thirdeye-ui/src/app/components/visualizations/treemap/treemap.styles.ts
  thirdeye-ui/src/app/utils/visualization/visualization.util.test.ts
  thirdeye-ui/src/app/utils/visualization/visualization.util.ts
Labels: thirdeye-ui, thirdeye-ui config
