Repository startreedata/thirdeye, pull requests merged in 2022-11, with the labels that each got.

#743 chore(ui): TE-345 updated VSCode config for UI project
  thirdeye-ui/.vscode/settings.json
Labels: thirdeye-ui config

#742 chore(ui): TE-345 updated GitHub config for UI project
  .github/CODEOWNERS
  .github/pr-labels.yaml
  .github/pull_request_template.md
  .github/workflows/pr.workflow.yaml
Labels: thirdeye-ui config

#746 chore(ui): fix GItHub workflow
  .github/workflows/pr.workflow.yaml
Labels: thirdeye-ui config

#744 chore(ui): TE-345 updated linter configurations
  thirdeye-ui/.eslintignore
  thirdeye-ui/.eslintrc.yaml
  thirdeye-ui/.gitignore
  thirdeye-ui/.husky/pre-commit
  thirdeye-ui/.huskyrc.yaml
  thirdeye-ui/.lintstagedrc.yaml
  thirdeye-ui/.prettierignore
  thirdeye-ui/.prettierrc.yaml
  thirdeye-ui/.stylelintignore
  thirdeye-ui/.stylelintrc.yaml
  thirdeye-ui/CONTRIBUTING.md
  thirdeye-ui/README.md
  thirdeye-ui/package-lock.json
  thirdeye-ui/package.json
Labels: thirdeye-ui config

#750 chore(ui): TE-345 build and release configuration updates
  thirdeye-ui/.eslintignore
  thirdeye-ui/.gitignore
  thirdeye-ui/.licenseheaderignore
  thirdeye-ui/.licenseheaderrc.json
  thirdeye-ui/.prettierignore
  thirdeye-ui/.releaserc.yaml
  thirdeye-ui/.stylelintignore
  thirdeye-ui/cypress.config.json
  thirdeye-ui/jest.config.js
  thirdeye-ui/package-lock.json
  thirdeye-ui/package.json
  thirdeye-ui/release.config.js
  thirdeye-ui/scripts/release-notes-commit-analyzer.js
  thirdeye-ui/scripts/release-version-placeholder-replacement.sh
  thirdeye-ui/scripts/verify-version-replacement.js
  thirdeye-ui/webpack.config.dev.js
  thirdeye-ui/webpack.config.prod.js
Labels: thirdeye-ui config

#751 chore(ui): TE-345 updated CODEOWNERS
  .github/CODEOWNERS
  thirdeye-ui/.prettierignore
Labels: thirdeye-ui config

#755 fix(ui): TE-1045 ensure alerts stay within screen
  thirdeye-ui/src/app/platform/components/notification-provider-v1/notification-display-v1/notification-display-v1.component.tsx
  thirdeye-ui/src/app/platform/components/notification-provider-v1/notification-display-v1/notification-display-v1.styles.ts
Labels: thirdeye-ui

#758 chore(ui): TE-1046 remove hardcoded slack webhook
  thirdeye-ui/release.config.js
Labels: thirdeye-ui config

#762 chore(ui): TE-345 bot updated pom.xml excluded from formatting checks to pass the build
  .github/CODEOWNERS
  thirdeye-ui/.gitignore
  thirdeye-ui/.prettierignore
Labels: thirdeye-ui config

#760 chore(ui): TE-1046 use SLACK_PUBLISH_WEBHOOK instead of SLACK_NOTIFICATION_WEBHOOK
  thirdeye-ui/release.config.js
Labels: thirdeye-ui config

#765 chore(ui): TE-1046 slack webhook for release notification moved to environment var
  thirdeye-ui/release.config.js
Labels: thirdeye-ui config

#776 fix(ui): TE-1051 renamed cohort-detector route to be consistent with page title
  thirdeye-ui/src/app/routers/general-authenticated/general-authenticated.router.tsx
  thirdeye-ui/src/app/utils/routes/routes.util.ts
Labels: thirdeye-ui

#779 feat(ui): TE-1058 added message for empty dataset for anomaly graph on home page
  thirdeye-ui/src/app/components/home-page/trending-anomalies/trending-anomalies.component.tsx
  thirdeye-ui/src/app/locale/languages/en-us.json
Labels: thirdeye-ui

#781 chore(ui): [auto] add changelog for thirdeye-ui-1.70.0 release
  thirdeye-ui/CHANGELOG.md
Labels: thirdeye-ui config, release

#777 fix(ui): TE-1059 renamed labels and replaced a fixed label with a generic label
  thirdeye-ui/src/app/components/home-page/active-alerts-count/active-alerts-count.component.tsx
  thirdeye-ui/src/app/components/home-page/anomalies-reported-count/anomalies-reported-count.component.tsx
  thirdeye-ui/src/app/locale/languages/en-us.json
Labels: thirdeye-ui

#782 chore(ui): TE-1063 added missing type definition to otherProps
  thirdeye-ui/src/app/platform/components/page-v1/page-contents-grid-v1/page-contents-card-v1/page-contents-card-v1.interfaces.ts
Labels: thirdeye-ui

#775 feat(ui): TE-1002 added date filter in admin page and set the default filter to last 7 days
  thirdeye-ui/src/app/components/admin-page/recent-failures/recent-failures.component.tsx
Labels: thirdeye-ui

#788 chore(ui): [auto] add changelog for thirdeye-ui-1.71.0 release
  thirdeye-ui/CHANGELOG.md
Labels: thirdeye-ui config, release

#783 fix(ui): TE-1061 showing a message for 0 anomalies on home page
  thirdeye-ui/src/app/components/admin-page/recent-failures/recent-failures.component.tsx
  thirdeye-ui/src/app/components/home-page/recent-anomalies/recent-anomalies.component.tsx
  thirdeye-ui/src/app/components/home-page/trending-anomalies/trending-anomalies.component.tsx
  thirdeye-ui/src/app/components/time-range/time-range-list/time-range-list.component.tsx
  thirdeye-ui/src/app/components/time-range/time-range-select/time-range-select.component.tsx
  thirdeye-ui/src/app/locale/languages/en-us.json
Labels: thirdeye-ui

#790 chore(ui): TE-1076 ignored IDE files from license header check
  thirdeye-ui/.gitignore
  thirdeye-ui/.licenseheaderignore
Labels: thirdeye-ui config

#791 feat(ui): TE-1052 cohort recommender enhancements
  thirdeye-ui/src/app/components/cohort-detector/cohorts-table/cohorts-table.component.tsx
  thirdeye-ui/src/app/components/cohort-detector/dataset-details/dataset-details.component.tsx
  thirdeye-ui/src/app/locale/languages/en-us.json
  thirdeye-ui/src/app/rest/dto/metric.interfaces.ts
  thirdeye-ui/src/app/rest/rca/rca.interfaces.ts
  thirdeye-ui/src/app/rest/rca/rca.rest.test.ts
  thirdeye-ui/src/app/rest/rca/rca.rest.ts
  thirdeye-ui/src/app/utils/params/params.util.test.ts
  thirdeye-ui/src/app/utils/params/params.util.ts
Labels: thirdeye-ui

#794 chore(ui): [auto] add changelog for thirdeye-ui-1.72.0 release
  thirdeye-ui/CHANGELOG.md
Labels: thirdeye-ui config, release

#801 chore(ui): [auto] add changelog for thirdeye-ui-1.72.1 release
  thirdeye-ui/CHANGELOG.md
Labels: thirdeye-ui config, release

#800 feat(ui): TE-1068 added sidebar link to swagger
  thirdeye-ui/src/app/components/app-bar/app-bar.component.tsx
  thirdeye-ui/src/app/locale/languages/en-us.json
  thirdeye-ui/src/app/utils/routes/routes.util.ts
  thirdeye-ui/webpack.config.dev.js
Labels: thirdeye-ui, thirdeye-ui config

#807 feat(ui): TE-1092 parsing `properties` key in alert template for default properties
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-template/alert-template.component.tsx
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-template/alert-template.utils.test.ts
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-template/alert-template.utils.ts
  thirdeye-ui/src/app/rest/dto/alert-template.interfaces.ts
Labels: thirdeye-ui

#811 feat(ui): TE-1075 alert details input page and finish dialog
  thirdeye-ui/src/app/pages/home-page/home-page.component.tsx
  thirdeye-ui/src/app/pages/welcome-page/create-alert/setup-details/setup-details-page.component.tsx
  thirdeye-ui/src/assets/images/thirdeye-startree-setup-complete.svg
Labels: thirdeye-ui

#810 feat(ui): TE-1075 metric selection page
  thirdeye-ui/src/app/components/alert-wizard-v3/preview-chart/preview-chart.component.tsx
  thirdeye-ui/src/app/components/alert-wizard-v3/preview-chart/preview-chart.interfaces.ts
  thirdeye-ui/src/app/components/alert-wizard-v3/preview-chart/preview-chart.styles.ts
  thirdeye-ui/src/app/components/alert-wizard-v3/threshold-setup/specific-properties-renderer/specific-properties-renderer.component.tsx
  thirdeye-ui/src/app/components/alert-wizard-v3/threshold-setup/specific-properties-renderer/specific-properties-renderer.interfaces.ts
  thirdeye-ui/src/app/components/alert-wizard-v3/threshold-setup/threshold-setup.component.tsx
  thirdeye-ui/src/app/components/alert-wizard-v3/threshold-setup/threshold-setup.interfaces.ts
  thirdeye-ui/src/app/components/alert-wizard-v3/threshold-setup/threshold-setup.utils.test.ts
  thirdeye-ui/src/app/components/alert-wizard-v3/threshold-setup/threshold-setup.utils.ts
  thirdeye-ui/src/app/pages/home-page/home-page.component.tsx
  thirdeye-ui/src/app/pages/welcome-page/create-alert/setup-details/setup-details-page.component.tsx
  thirdeye-ui/src/app/pages/welcome-page/create-alert/setup-monitoring/setup-monitoring-page.component.tsx
  thirdeye-ui/src/app/rest/dto/dataset.interfaces.ts
  thirdeye-ui/src/assets/images/thirdeye-startree-setup-complete.svg
Labels: thirdeye-ui
