Repository startreedata/thirdeye, pull requests merged in 2023-02, with the labels that each got.

#923 chore(ui): TE-1102 use notifyIfErrors across codebase
  thirdeye-ui/src/app/components/rca/analysis-tabs/analysis-tabs.component.tsx
  thirdeye-ui/src/app/pages/alert-templates-create-page/alert-templates-create-page.component.tsx
  thirdeye-ui/src/app/pages/alert-templates-update-page/alert-templates-update-page.component.tsx
  thirdeye-ui/src/app/pages/alerts-create-guided-page/select-type/select-type-page.component.tsx
  thirdeye-ui/src/app/pages/alerts-create-page/alerts-create-base-page.component.tsx
  thirdeye-ui/src/app/pages/alerts-update-page/alerts-update-base-page.component.tsx
  thirdeye-ui/src/app/pages/datasets-onboard-page/datasets-onboard-page.component.tsx
  thirdeye-ui/src/app/pages/datasets-update-page/datasets-update-page.component.tsx
  thirdeye-ui/src/app/pages/datasets-view-page/datasets-view-page.component.tsx
  thirdeye-ui/src/app/pages/datasources-create-page/datasources-create-page.component.tsx
  thirdeye-ui/src/app/pages/datasources-update-page/datasources-update-page.component.tsx
  thirdeye-ui/src/app/pages/datasources-view-page/datasources-view-page.component.tsx
  thirdeye-ui/src/app/pages/events-create-page/events-create-page.component.tsx
  thirdeye-ui/src/app/pages/events-view-page/events-view-page.component.tsx
  thirdeye-ui/src/app/pages/subscription-groups-create-page/subscription-groups-create-page.component.tsx
  thirdeye-ui/src/app/pages/subscription-groups-update-page/subscription-groups-update-page.component.tsx
Labels: thirdeye-ui

#928 feat(ui): TE-1239 disable update button for alert until user previews changes
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-template/alert-template.component.tsx
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-template/alert-template.interfaces.ts
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-template/preview-chart/preview-chart.component.tsx
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-template/preview-chart/preview-chart.interfaces.ts
  thirdeye-ui/src/app/locale/languages/en-us.json
  thirdeye-ui/src/app/pages/alerts-update-page/alerts-edit-base-page.component.tsx
  thirdeye-ui/src/app/pages/alerts-update-page/alerts-update-advanced-page.component.tsx
  thirdeye-ui/src/app/pages/alerts-update-page/alerts-update-page.interfaces.ts
  thirdeye-ui/src/app/pages/alerts-update-page/alerts-update-simple-page.component.tsx
Labels: thirdeye-ui

#929 fix(ui): TE-1233 fix defect where notification indicating auto reload would not go away
  thirdeye-ui/src/app/pages/alerts-view-page/alerts-view-page.component.tsx
Labels: thirdeye-ui

#917 feat(ui): TE-1216 support timezone in alert details view pages
  thirdeye-ui/src/app/components/alert-view/enumeration-items-table/enumeration-item-row/enumeration-item-row.component.tsx
  thirdeye-ui/src/app/components/alert-view/enumeration-items-table/enumeration-item-row/enumeration-item-row.interfaces.ts
  thirdeye-ui/src/app/components/alert-view/enumeration-items-table/enumeration-items-table.component.tsx
  thirdeye-ui/src/app/components/alert-view/enumeration-items-table/enumeration-items-table.interfaces.ts
  thirdeye-ui/src/app/components/alert-view/sub-header/alert-sub-header.component.tsx
  thirdeye-ui/src/app/components/alert-view/sub-header/alert-sub-header.interfaces.ts
  thirdeye-ui/src/app/components/anomaly-list-v1/anomaly-list-v1.component.tsx
  thirdeye-ui/src/app/components/anomaly-list-v1/anomaly-list-v1.interfaces.ts
  thirdeye-ui/src/app/components/anomaly-list-v1/anomaly-list-v1.test.tsx
  thirdeye-ui/src/app/components/anomaly-quick-filters/anomaly-quick-filter.interface.ts
  thirdeye-ui/src/app/components/anomaly-quick-filters/anomaly-quick-filters.component.tsx
  thirdeye-ui/src/app/components/entity-cards/anomaly-card/anomaly-card.component.tsx
  thirdeye-ui/src/app/components/entity-cards/anomaly-card/anomaly-card.interfaces.ts
  thirdeye-ui/src/app/components/entity-cards/root-cause-analysis/anomaly-summary-card/anomaly-summary-card.component.tsx
  thirdeye-ui/src/app/components/entity-cards/root-cause-analysis/anomaly-summary-card/anomaly-summary-card.interfaces.ts
  thirdeye-ui/src/app/components/home-page/recent-anomalies/anomaly-row/anomaly-row.component.tsx
  thirdeye-ui/src/app/components/metrics-report-list/metrics-report-list.interfaces.ts
  thirdeye-ui/src/app/components/metrics-report-list/metrics-report-row/metrics-report-row.component.tsx
  thirdeye-ui/src/app/components/rca/analysis-tabs/analysis-tabs.component.tsx
  thirdeye-ui/src/app/components/rca/analysis-tabs/analysis-tabs.interfaces.ts
  thirdeye-ui/src/app/components/rca/anomaly-dimension-analysis/algorithm-table/algorithm-row-expanded.component.tsx
  thirdeye-ui/src/app/components/rca/anomaly-dimension-analysis/algorithm-table/algorithm-row.component.tsx
  thirdeye-ui/src/app/components/rca/anomaly-dimension-analysis/algorithm-table/algorithm-table.component.tsx
  thirdeye-ui/src/app/components/rca/anomaly-dimension-analysis/algorithm-table/algorithm-table.interfaces.ts
  thirdeye-ui/src/app/components/rca/anomaly-dimension-analysis/anomaly-dimension-analysis.component.tsx
  thirdeye-ui/src/app/components/rca/anomaly-dimension-analysis/anomaly-dimension-analysis.interfaces.ts
  thirdeye-ui/src/app/components/rca/anomaly-time-series-card/anomaly-time-series-card.component.tsx
  thirdeye-ui/src/app/components/rca/anomaly-time-series-card/anomaly-time-series-card.interfaces.ts
  thirdeye-ui/src/app/components/rca/anomaly-time-series-card/anomaly-time-series-card.utils.tsx
  thirdeye-ui/src/app/components/rca/events-tab/event-tab.component.tsx
  thirdeye-ui/src/app/components/rca/events-tab/event-tab.interfaces.ts
  thirdeye-ui/src/app/components/time-range/time-range-button/time-range-button.component.tsx
  thirdeye-ui/src/app/components/time-range/time-range-selector/time-range-selector/time-range-selector.component.tsx
  thirdeye-ui/src/app/components/time-range/time-range-selector/time-range-selector/time-range-selector.interfaces.ts
  thirdeye-ui/src/app/components/visualizations/alert-evaluation-time-series-card/alert-evaluation-time-series-card.component.tsx
  thirdeye-ui/src/app/components/visualizations/alert-evaluation-time-series-card/alert-evaluation-time-series-card.interfaces.ts
  thirdeye-ui/src/app/components/visualizations/alert-evaluation-time-series-card/headers/view-anomaly-header.component.tsx
  thirdeye-ui/src/app/components/visualizations/time-series-chart/chart-core/tick-calculator/chart-time-axis.utils.ts
  thirdeye-ui/src/app/components/visualizations/time-series-chart/time-series-chart.component.tsx
  thirdeye-ui/src/app/components/visualizations/time-series-chart/tooltip/tooltip-popover.component.tsx
  thirdeye-ui/src/app/locale/languages/en-us.json
  thirdeye-ui/src/app/pages/alerts-anomalies-page/alerts-anomalies-page.component.tsx
  thirdeye-ui/src/app/pages/alerts-view-page/alerts-view-page.component.tsx
  thirdeye-ui/src/app/pages/anomalies-view-page/anomalies-view-page.component.tsx
  thirdeye-ui/src/app/pages/root-cause-analysis-for-anomaly-page/root-cause-analysis-for-anomaly-page.component.tsx
  thirdeye-ui/src/app/pages/root-cause-analysis-investigation-state-tracker/investigation-state-tracker.component.tsx
  thirdeye-ui/src/app/pages/root-cause-analysis-investigation-state-tracker/investigation-state-tracker.interfaces.ts
  thirdeye-ui/src/app/rest/dto/alert.interfaces.ts
  thirdeye-ui/src/app/utils/alerts/alerts.util.test.ts
  thirdeye-ui/src/app/utils/alerts/alerts.util.ts
  thirdeye-ui/src/app/utils/time/time.util.ts
Labels: thirdeye-ui

#935 feat(ui): TE-1216 create alert flow support timezone
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-template/preview-chart/preview-chart.component.tsx
  thirdeye-ui/src/app/components/alert-wizard-v3/preview-chart/enumeration-items-table/enumeration-item-row/enumeration-item-row.component.tsx
  thirdeye-ui/src/app/components/alert-wizard-v3/preview-chart/enumeration-items-table/enumeration-item-row/enumeration-item-row.interfaces.ts
  thirdeye-ui/src/app/components/alert-wizard-v3/preview-chart/enumeration-items-table/enumeration-items-table.component.tsx
  thirdeye-ui/src/app/components/alert-wizard-v3/preview-chart/enumeration-items-table/enumeration-items-table.interfaces.ts
  thirdeye-ui/src/app/components/alert-wizard-v3/preview-chart/preview-chart.component.tsx
Labels: thirdeye-ui

#936 feat(ui): TE-1284 added oidc "groups" claim to dex default scopes in platform code in thirdeye-ui
  thirdeye-ui/src/app/platform/components/auth-provider-v1/auth-provider-v1.component.tsx
Labels: thirdeye-ui

#938 chore(ui): STUI-605 sync monorepo and ThirdEye project configs
  thirdeye-ui/.eslintrc.yaml
  thirdeye-ui/README.md
Labels: thirdeye-ui config

#940 feat(ui): TE-1180 use specific components depending on alert template property type
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-template/alert-template-form-field/alert-template-form-field.component.tsx
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-template/alert-template-form-field/alert-template-form-field.interfaces.ts
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-template/alert-template-form-field/alert-template-form-field.test.tsx
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-template/alert-template-properties-builder/alert-template-properties-builder.component.tsx
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-template/alert-template.component.tsx
  thirdeye-ui/src/app/locale/languages/en-us.json
  thirdeye-ui/src/app/rest/dto/alert-template.interfaces.ts
Labels: thirdeye-ui

#943 chore(ui): [auto] add changelog for thirdeye-ui-2.8.0 release
  thirdeye-ui/CHANGELOG.md
Labels: thirdeye-ui config, release

#931 feat(ui): TE-1231 have the chart timeframe adapt to the baseline offset
  thirdeye-ui/src/app/components/rca/anomaly-dimension-analysis/algorithm-table/algorithm-row-expanded.component.tsx
  thirdeye-ui/src/app/components/rca/anomaly-dimension-analysis/algorithm-table/algorithm-table.utils.tsx
Labels: thirdeye-ui

#944 feat(ui): TE-1180 validate alert templateProperties based on properties content
  thirdeye-ui/src/app/locale/languages/en-us.json
  thirdeye-ui/src/app/pages/alerts-create-page/alerts-create-advance-page/alerts-create-advance-page.util.ts
  thirdeye-ui/src/app/pages/alerts-create-page/alerts-create-page.interfaces.ts
  thirdeye-ui/src/app/pages/alerts-update-page/alerts-edit-base-page.component.tsx
  thirdeye-ui/src/app/utils/alerts/alerts-configuration-validator.util.test.ts
  thirdeye-ui/src/app/utils/alerts/alerts-configuration-validator.util.ts
Labels: thirdeye-ui

#942 feat(ui): TE-1267 updated tooltips on welcome flow
  thirdeye-ui/src/app/components/cohort-detector/dataset-details/dataset-details.component.tsx
  thirdeye-ui/src/app/locale/languages/en-us.json
Labels: thirdeye-ui

#952 chore(ui): [auto] add changelog for thirdeye-ui-2.9.0 release
  thirdeye-ui/CHANGELOG.md
Labels: thirdeye-ui config, release

#954 chore(ui): STUI-611 removed hardcoded Slack channel name from release config
  thirdeye-ui/release.config.js
Labels: thirdeye-ui config

#955 chore(ui): STUI-612 removed unused script
  thirdeye-ui/scripts/release-version-placeholder-replacement.sh
Labels: thirdeye-ui config

#960 fix(ui): TE-1331 add missing non number filter on upper and lower bound
  thirdeye-ui/src/app/components/rca/anomaly-time-series-card/anomaly-time-series-card.utils.tsx
Labels: thirdeye-ui

#966 chore(ui): [auto] add changelog for thirdeye-ui-2.9.1 release
  thirdeye-ui/CHANGELOG.md
Labels: thirdeye-ui config, release

#980 feat(ui): TE-1142 anomalies filtering in alert create for new user flow
  thirdeye-ui/src/app/components/visualizations/time-series-chart/time-series-chart.component.tsx
  thirdeye-ui/src/app/pages/alerts-create-guided-page/alerts-create-guided-page.component.tsx
  thirdeye-ui/src/app/pages/alerts-create-guided-page/alerts-create-guided-page.styles.ts
  thirdeye-ui/src/app/pages/alerts-create-guided-page/setup-anomalies-filter/setup-anomalies-filter-page.component.tsx
  thirdeye-ui/src/app/pages/alerts-create-guided-page/setup-anomalies-filter/setup-anomalies-filter-page.interface.ts
  thirdeye-ui/src/app/pages/alerts-create-guided-page/setup-anomalies-filter/setup-anomalies-filter-page.styles.ts
  thirdeye-ui/src/app/pages/alerts-create-guided-page/setup-details/setup-details-page.component.tsx
  thirdeye-ui/src/app/pages/alerts-create-guided-page/setup-monitoring/setup-monitoring-page.component.tsx
  thirdeye-ui/src/app/routers/alerts-guided-create/alerts-guided-create.router.tsx
  thirdeye-ui/src/app/utils/routes/routes.util.ts
Labels: thirdeye-ui

#982 fix(ui): TE-1356 use evaluation.alert.template in preview charts when for timezone
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-template/preview-chart/preview-chart.component.tsx
  thirdeye-ui/src/app/components/alert-wizard-v3/preview-chart/preview-chart.component.tsx
Labels: thirdeye-ui

#984 chore(ui): TE-1206 bump axios to 1.3.4
  thirdeye-ui/jest.config.js
  thirdeye-ui/package-lock.json
  thirdeye-ui/package.json
  thirdeye-ui/src/app/platform/rest/info/info.actions.ts
  thirdeye-ui/src/app/platform/rest/openid-configuration/openid-configuration.actions.ts
  thirdeye-ui/src/app/platform/utils/axios/axios.util.test.ts
  thirdeye-ui/src/app/platform/utils/axios/axios.util.ts
  thirdeye-ui/src/app/rest/create-rest-action.ts
  thirdeye-ui/src/app/rest/rca/rca.rest.ts
Labels: thirdeye-ui, thirdeye-ui config

#986 feat(ui): TE-1270 remove misplaced character from UI
  thirdeye-ui/src/app/pages/subscription-groups-update-page/subscription-groups-update-page.component.tsx
Labels: thirdeye-ui

#987 fix(ui): TE-1142 fix bug where page would navigate back to filter page
  thirdeye-ui/src/app/components/alert-wizard-v3/preview-chart/preview-chart.component.tsx
Labels: thirdeye-ui

#994 chore(ui): [auto] add changelog for thirdeye-ui-2.10.0 release
  thirdeye-ui/CHANGELOG.md
Labels: thirdeye-ui config, release

#989 test(ui): TE-1206 added tests for some utils files for subscription group revamp
  thirdeye-ui/src/app/components/subscription-group-view/alert-associations-view-table/alert-associations-view-table.utils.test.ts
  thirdeye-ui/src/app/components/subscription-group-view/alert-associations-view-table/alert-associations-view-table.utils.ts
  thirdeye-ui/src/app/components/subscription-group-wizard/alerts-dimensions/alerts-dimensions.utils.test.ts
Labels: thirdeye-ui

#990 feat(ui): TE-1298 anomaly filtering by feedback of not an anomaly
  thirdeye-ui/src/app/components/anomaly-list-v1/anomaly-list-v1.component.tsx
  thirdeye-ui/src/app/locale/languages/en-us.json
  thirdeye-ui/src/app/pages/alerts-anomalies-page/alerts-anomalies-page.component.tsx
  thirdeye-ui/src/app/rest/dto/ui-anomaly.interfaces.ts
  thirdeye-ui/src/app/utils/anomalies/anomalies.util.test.ts
  thirdeye-ui/src/app/utils/anomalies/anomalies.util.ts
Labels: thirdeye-ui

#995 feat(ui): TE-1317 added `aggregationColumn` to new alert configuration
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-template/alert-template.utils.ts
Labels: thirdeye-ui

#996 feat(ui): TE-1373 changed subscription group routing to match the rest of the app
  thirdeye-ui/src/app/routers/subscription-groups/subscription-groups.router.test.tsx
  thirdeye-ui/src/app/routers/subscription-groups/subscription-groups.router.tsx
  thirdeye-ui/src/app/utils/routes/routes.util.test.ts
  thirdeye-ui/src/app/utils/routes/routes.util.ts
Labels: thirdeye-ui

#985 feat(ui): TE-1206 cancel api calls when user leaves some pages
  thirdeye-ui/src/app/components/cancel-api-calls-on-page-unload/cancel-api-calls-on-page-unload.component.tsx
  thirdeye-ui/src/app/components/cancel-api-calls-on-page-unload/cancel-api-calls-on-page-unload.interfaces.ts
  thirdeye-ui/src/app/pages/alerts-all-page/alerts-all-page.component.tsx
  thirdeye-ui/src/app/rest/alerts/alerts.rest.ts
  thirdeye-ui/src/app/rest/create-rest-action.ts
  thirdeye-ui/src/app/routers/alerts-guided-create/alerts-guided-create.router.tsx
  thirdeye-ui/src/app/routers/alerts/alerts.router.tsx
  thirdeye-ui/src/app/routers/anomalies/anomalies.router.tsx
  thirdeye-ui/src/app/routers/app/app.router.tsx
  thirdeye-ui/src/app/routers/configuration/configuration.router.tsx
  thirdeye-ui/src/app/routers/general-authenticated/general-authenticated.router.tsx
Labels: thirdeye-ui
