Repository startreedata/thirdeye, pull requests merged in 2023-05, with the labels that each got.

#1085 test(ui): TE-1481 setup cypress
  thirdeye-ui/cypress.config.json
  thirdeye-ui/cypress.config.ts
  thirdeye-ui/package-lock.json
  thirdeye-ui/package.json
  thirdeye-ui/src/test/e2e/support/e2e.ts
  thirdeye-ui/src/test/e2e/support/get-by-data-testid.command.js
  thirdeye-ui/src/test/e2e/support/load-datasource.command.js
  thirdeye-ui/src/test/e2e/support/reset-datasource.command.js
  thirdeye-ui/tsconfig.json
Labels: thirdeye-ui, thirdeye-ui config

#1098 test(ui): TE-1481 anomalies all flows
  thirdeye-ui/src/app/components/anomaly-list-v1/anomaly-list-v1.component.tsx
  thirdeye-ui/src/app/components/anomaly-list-v1/anomaly-list-v1.interfaces.ts
  thirdeye-ui/src/app/components/anomaly-list-v1/anomaly-list-v1.test.tsx
  thirdeye-ui/src/app/components/anomaly-quick-filters/anomaly-quick-filters.component.tsx
  thirdeye-ui/src/app/components/filter-options-auto-complete/filter-options-auto-complete.component.tsx
  thirdeye-ui/src/app/components/filter-options-auto-complete/filter-options-auto-complete.interfaces.ts
  thirdeye-ui/src/app/components/metrics-report-list/metrics-report-list.component.tsx
  thirdeye-ui/src/app/pages/welcome-page/create-datasource/onboard-datasets/onboard-datasets-page.component.tsx
  thirdeye-ui/src/test/e2e/support/load-alert-and-anomalies.command.js
  thirdeye-ui/src/test/e2e/user-flows/anomalies/anomalies-all-flows.cy.js
Labels: thirdeye-ui

#1107 chore(ui): TE-1597 hide alerts after 10 seconds
  thirdeye-ui/src/app/platform/components/notification-provider-v1/notification-display-v1/notification-display-v1.component.tsx
Labels: thirdeye-ui

#1112 chore(ui): [auto] add changelog for thirdeye-ui-2.20.0 release
  thirdeye-ui/CHANGELOG.md
Labels: thirdeye-ui config, release
