Repository startreedata/thirdeye, pull requests merged in 2023-01, with the labels that each got.

#862 chore(ui): TE-1177 working nginx configs to disable caching
  kubernetes/helm/startree-thirdeye/templates/ui/deployment.yaml
  thirdeye-ui/docker/templates/default.conf.template
Labels: thirdeye-ui config

#858 chore(ui): [auto] add changelog for thirdeye-ui-2.1.0 release
  thirdeye-ui/CHANGELOG.md
Labels: thirdeye-ui config, release

#868 feat(ui): TE-1159 update sample alerts
  thirdeye-ui/src/app/components/alert-wizard-v3/algorithm-selection/algorithm-option-card/algorithm-option-card.component.tsx
  thirdeye-ui/src/app/components/alert-wizard-v3/algorithm-selection/algorithm-option-card/algorithm-option-card.interfaces.ts
  thirdeye-ui/src/app/components/alert-wizard-v3/sample-alert-selection/sample-alert-selection.interfaces.ts
  thirdeye-ui/src/app/components/alert-wizard-v3/sample-alert-selection/sample-alert.utils.ts
  thirdeye-ui/src/app/locale/languages/en-us.json
Labels: thirdeye-ui

#859 feat(ui): TE-1163 browser console cleanup for ThirdEye UI
  thirdeye-ui/src/app/components/anomalies-page-header/anomalies-page-header.component.tsx
  thirdeye-ui/src/app/components/filter-options-auto-complete/filter-options-auto-complete.component.tsx
  thirdeye-ui/src/app/components/home-page/recent-anomalies/recent-anomalies.component.tsx
  thirdeye-ui/src/app/components/visualizations/time-series-chart/chart-core/chart-core.component.tsx
  thirdeye-ui/src/app/components/visualizations/time-series-chart/tooltip/tooltip-markers.component.tsx
  thirdeye-ui/src/app/components/visualizations/time-series-chart/tooltip/tooltip-popover.component.tsx
  thirdeye-ui/src/app/pages/anomalies-all-page/anomalies-all-page.component.tsx
Labels: thirdeye-ui

#864 feat(ui): TE-1149 add markdown support in alert create form helper tooltip
  thirdeye-ui/jest.config.js
  thirdeye-ui/package-lock.json
  thirdeye-ui/package.json
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-template/alert-template-form-field/alert-template-form-field.component.tsx
  thirdeye-ui/src/app/components/anomaly-list-v1/anomaly-list-v1.test.tsx
  thirdeye-ui/src/app/components/parse-markdown/parse-markdown.component.tsx
  thirdeye-ui/src/app/components/parse-markdown/parse-markdown.interfaces.ts
Labels: thirdeye-ui, thirdeye-ui config

#869 feat(ui): TE-1196 replace blank recent anomalies chart with message
  thirdeye-ui/src/app/components/home-page/anomaly-range-dropdown/anomaly-range-dropdown.component.tsx
  thirdeye-ui/src/app/components/home-page/trending-anomalies/trending-anomalies.component.tsx
  thirdeye-ui/src/app/locale/languages/en-us.json
Labels: thirdeye-ui

#871 chore(ui): [auto] add changelog for thirdeye-ui-2.2.0 release
  thirdeye-ui/CHANGELOG.md
Labels: thirdeye-ui config, release

#874 feat(ui): TE-1179 alert accuracy only shown if anomalies are present
  thirdeye-ui/src/app/components/alert-accuracy-colored/alert-accuracy-colored.component.tsx
  thirdeye-ui/src/app/components/alert-accuracy-colored/alert-accuracy-colored.interface.ts
  thirdeye-ui/src/app/components/alert-list-v1/alert-list-v1.component.tsx
  thirdeye-ui/src/app/components/alert-view/enumeration-items-table/enumeration-item-row/enumeration-item-row.component.tsx
  thirdeye-ui/src/app/locale/languages/en-us.json
  thirdeye-ui/src/app/pages/alerts-view-page/alerts-view-page.component.tsx
  thirdeye-ui/src/app/utils/alerts/alerts.util.ts
Labels: thirdeye-ui

#854 feat(ui): TE-1155 update anomaly stats on homepage for date range change
  thirdeye-ui/src/app/components/home-page/anomalies-pending-feedback-count/anomalies-pending-feedback-count.component.tsx
  thirdeye-ui/src/app/components/home-page/anomalies-pending-feedback-count/anomlies-pending-feedback-count.interfaces.ts
  thirdeye-ui/src/app/components/home-page/anomalies-reported-count/anomalies-reported-count.component.tsx
  thirdeye-ui/src/app/components/home-page/anomalies-reported-count/anomalies-reported-count.interfaces.ts
  thirdeye-ui/src/app/pages/home-page/home-page.component.tsx
  thirdeye-ui/src/app/rest/anomalies/anomalies.rest.test.ts
  thirdeye-ui/src/app/rest/anomalies/anomalies.rest.ts
  thirdeye-ui/src/app/rest/anomalies/anomaly.actions.test.ts
  thirdeye-ui/src/app/rest/anomalies/anomaly.actions.ts
  thirdeye-ui/src/app/rest/anomalies/anomaly.interfaces.ts
  thirdeye-ui/src/app/rest/app-analytics/app-analytics.rest.ts
  thirdeye-ui/src/app/rest/dto/anomaly.interfaces.ts
Labels: thirdeye-ui

#875 chore(ui): [auto] add changelog for thirdeye-ui-2.3.0 release
  thirdeye-ui/CHANGELOG.md
Labels: thirdeye-ui config, release

#870 feat(ui): TE-1182 removed `timeColumn` and `timeColumnFormat` from `templateProperties`
  thirdeye-ui/src/app/components/alert-wizard-v3/threshold-setup/threshold-setup.utils.test.ts
  thirdeye-ui/src/app/components/alert-wizard-v3/threshold-setup/threshold-setup.utils.ts
Labels: thirdeye-ui

#876 chore(ui): STUI-581 create CI validation script
  thirdeye-ui/README.md
  thirdeye-ui/package.json
Labels: thirdeye-ui config

#877 chore(ui): [auto] add changelog for thirdeye-ui-2.4.0 release
  thirdeye-ui/CHANGELOG.md
Labels: thirdeye-ui config, release

#883 feat(ui): TE-1214 fixed chart legend toggling series for custom render
  thirdeye-ui/src/app/components/visualizations/time-series-chart/chart-core/chart-core.component.tsx
Labels: thirdeye-ui

#882 feat(ui): TE-1211 deleting timestamp keys from copied alert
  thirdeye-ui/src/app/pages/alerts-create-page/alerts-create-copy-page.component.tsx
  thirdeye-ui/src/app/pages/alerts-create-page/alerts-create-page.utils.test.ts
  thirdeye-ui/src/app/pages/alerts-create-page/alerts-create-page.utils.ts
Labels: thirdeye-ui

#890 chore(ui): [auto] add changelog for thirdeye-ui-2.5.0 release
  thirdeye-ui/CHANGELOG.md
Labels: thirdeye-ui config, release

#885 feat(ui): TE-1203 added enumeration items to anomalies list table and metrics report table
  thirdeye-ui/src/app/components/anomaly-list-v1/anomaly-list-v1.component.tsx
  thirdeye-ui/src/app/components/anomaly-list-v1/anomaly-list-v1.interfaces.ts
  thirdeye-ui/src/app/components/metrics-report-list/metrics-report-expand-list/metrics-report-expand-list.component.tsx
  thirdeye-ui/src/app/components/metrics-report-list/metrics-report-expand-list/metrics-report-expand-list.interface.ts
  thirdeye-ui/src/app/components/metrics-report-list/metrics-report-row/metrics-report-row.component.tsx
  thirdeye-ui/src/app/pages/anomalies-list-page/anomalies-list-page.component.tsx
  thirdeye-ui/src/app/rest/dto/ui-anomaly.interfaces.ts
  thirdeye-ui/src/app/utils/anomalies/anomalies.util.ts
Labels: thirdeye-ui

#892 chore(ui): TE-1238 remove duplicated api calls to metrics, datasets, and alerts in all anomalies page
  thirdeye-ui/src/app/pages/alerts-update-page/alerts-update-base-page.component.tsx
  thirdeye-ui/src/app/pages/anomalies-all-page/anomalies-all-page.component.tsx
Labels: thirdeye-ui

#891 fix(ui): TE-1228 use existing value for sensitivity if it exists for the slider in new user flow
  thirdeye-ui/src/app/components/alert-wizard-v3/threshold-setup/specific-properties-renderer/specific-properties-renderer.component.tsx
Labels: thirdeye-ui

#889 feat(ui): TE-1240 using total anomaly count to calculate alert accuracy
  thirdeye-ui/src/app/components/alert-list-v1/alert-list-v1.component.tsx
  thirdeye-ui/src/app/pages/alerts-view-page/alerts-view-page.component.tsx
  thirdeye-ui/src/app/utils/alerts/alerts.util.ts
Labels: thirdeye-ui

#893 chore(ui): TE-1246 check for initial loading state for LoadingErrorStateSwitch depending on requests
  thirdeye-ui/src/app/components/admin-page/recent-failures/recent-failures.component.tsx
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-notifications/subscription-groups/subscription-groups.component.tsx
  thirdeye-ui/src/app/components/home-page/active-alerts-count/active-alerts-count.component.tsx
  thirdeye-ui/src/app/components/home-page/alert-accuracy/alert-accuracy.component.tsx
  thirdeye-ui/src/app/components/home-page/anomalies-pending-feedback-count/anomalies-pending-feedback-count.component.tsx
  thirdeye-ui/src/app/components/home-page/anomalies-reported-count/anomalies-reported-count.component.tsx
  thirdeye-ui/src/app/components/home-page/recent-anomalies/recent-anomalies.component.tsx
  thirdeye-ui/src/app/components/home-page/trending-anomalies/trending-anomalies.component.tsx
  thirdeye-ui/src/app/components/rca/anomaly-breakdown-comparison-heatmap/anomaly-breakdown-comparison-heatmap.component.tsx
  thirdeye-ui/src/app/pages/alerts-update-page/alerts-edit-base-page.component.tsx
  thirdeye-ui/src/app/pages/datasets-all-page/datasets-all-page.component.tsx
  thirdeye-ui/src/app/pages/datasources-all-page/datasources-all-page.component.tsx
  thirdeye-ui/src/app/pages/root-cause-analysis-for-anomaly-page/root-cause-analysis-for-anomaly-page.component.tsx
  thirdeye-ui/src/app/pages/welcome-page/create-alert/create-alert-page.component.tsx
  thirdeye-ui/src/app/pages/welcome-page/create-datasource/onboard-datasets/onboard-datasets-page.component.tsx
  thirdeye-ui/src/app/pages/welcome-page/create-datasource/onboard-datasource/onboard-datasource-page.component.tsx
  thirdeye-ui/src/app/pages/welcome-page/landing/landing-page.component.tsx
Labels: thirdeye-ui

#894 feat(ui): TE-1220 link to rca demo video in rca and anomaly details page
  thirdeye-ui/src/app/components/iframe-video-player-container/iframe-video-player-container.component.tsx
  thirdeye-ui/src/app/components/iframe-video-player-container/iframe-video-player-container.style.ts
  thirdeye-ui/src/app/components/rca/investigation-options/investigation-options.component.tsx
  thirdeye-ui/src/app/locale/languages/en-us.json
  thirdeye-ui/src/app/pages/anomalies-view-page/anomalies-view-page.component.tsx
  thirdeye-ui/src/app/pages/welcome-page/landing/landing-page.component.tsx
Labels: thirdeye-ui

#897 chore(ui): [auto] add changelog for thirdeye-ui-2.6.0 release
  thirdeye-ui/CHANGELOG.md
Labels: thirdeye-ui config, release

#899 chore(ui): TE-1216 update luxon version and update usage to reflect major version bump
  thirdeye-ui/package-lock.json
  thirdeye-ui/package.json
  thirdeye-ui/src/app/platform/utils/date-time/date-time.util.test.ts
  thirdeye-ui/src/app/platform/utils/date-time/date-time.util.ts
  thirdeye-ui/src/app/utils/routes/routes.util.ts
  thirdeye-ui/src/app/utils/time-range/time-range.util.test.ts
  thirdeye-ui/src/app/utils/visualization/visualization.util.test.ts
Labels: thirdeye-ui, thirdeye-ui config

#908 fix(ui): TE-1250 add roundOffThreshold param when using count as metric
  thirdeye-ui/src/app/pages/alerts-create-guided-page/setup-dimension-groups/setup-dimension-groups-page.component.tsx
  thirdeye-ui/src/app/rest/rca/rca.interfaces.ts
  thirdeye-ui/src/app/rest/rca/rca.rest.ts
Labels: thirdeye-ui

#905 feat(ui): TE-1207 added exponential notation and Infinite label to very large anomaly deviations
  thirdeye-ui/src/app/platform/utils/number/number.util.test.ts
  thirdeye-ui/src/app/platform/utils/number/number.util.ts
  thirdeye-ui/src/app/utils/anomalies/anomalies.util.ts
Labels: thirdeye-ui

#901 feat(ui): TE-1225 make links in anomaly table more intuitive
  thirdeye-ui/src/app/components/anomaly-list-v1/anomaly-list-v1.component.tsx
  thirdeye-ui/src/app/components/anomaly-list-v1/anomaly-list-v1.test.tsx
  thirdeye-ui/src/app/locale/languages/en-us.json
Labels: thirdeye-ui

#910 feat(ui): TE-1209 improved contrast on link in markdown tooltip
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-template/alert-template-form-field/alert-template-form-field.component.tsx
  thirdeye-ui/src/app/components/parse-markdown/parse-markdown.component.tsx
  thirdeye-ui/src/app/platform/components/link-v1/link-v1.interfaces.ts
Labels: thirdeye-ui

#911 feat(ui): TE-1221 improved ui for top contributors in investigate anomalies
  thirdeye-ui/src/app/components/rca/anomaly-dimension-analysis/algorithm-table/algorithm-row.component.tsx
  thirdeye-ui/src/app/components/rca/anomaly-dimension-analysis/algorithm-table/algorithm-table.component.tsx
  thirdeye-ui/src/app/locale/languages/en-us.json
Labels: thirdeye-ui

#913 feat(ui): TE-1216 enhance timepicker to support displaying and returning selected dates in timezone
  thirdeye-ui/src/app/components/time-range/time-range-button-with-context/time-range-button.component.tsx
  thirdeye-ui/src/app/components/time-range/time-range-button-with-context/time-range-button.interfaces.ts
  thirdeye-ui/src/app/components/time-range/time-range-button/time-range-button.component.tsx
  thirdeye-ui/src/app/components/time-range/time-range-button/time-range-button.interfaces.ts
  thirdeye-ui/src/app/components/time-range/time-range-list/time-range-list.component.tsx
  thirdeye-ui/src/app/components/time-range/time-range-list/time-range-list.interfaces.ts
  thirdeye-ui/src/app/components/time-range/time-range-select/time-range-select.component.tsx
  thirdeye-ui/src/app/components/time-range/time-range-select/time-range-select.interfaces.ts
  thirdeye-ui/src/app/components/time-range/time-range-selector-popover-content/time-range-selector-popover-content.component.tsx
  thirdeye-ui/src/app/components/time-range/time-range-selector-popover-content/time-range-selector-popover-content.interfaces.ts
  thirdeye-ui/src/app/locale/languages/en-us.json
  thirdeye-ui/src/app/utils/time-range/time-range.util.test.ts
  thirdeye-ui/src/app/utils/time-range/time-range.util.ts
Labels: thirdeye-ui

#914 chore(ui): TE-1216 add missing changes for PR-913
  thirdeye-ui/src/app/components/time-range/time-range-selector/date-time-picker-toolbar/date-time-picker-toolbar.component.tsx
Labels: thirdeye-ui

#921 chore(ui): [auto] add changelog for thirdeye-ui-2.7.0 release
  thirdeye-ui/CHANGELOG.md
Labels: thirdeye-ui config, release

#922 feat(ui): TE-1233 support auto refreshing when user resets an anomaly in alerts details page
  thirdeye-ui/src/app/locale/languages/en-us.json
  thirdeye-ui/src/app/pages/alerts-create-guided-page/select-type/select-type-page.component.tsx
  thirdeye-ui/src/app/pages/alerts-create-page/alerts-create-base-page.component.tsx
  thirdeye-ui/src/app/pages/alerts-view-page/alerts-view-page.component.tsx
  thirdeye-ui/src/app/pages/alerts-view-page/alerts-view-page.utils.ts
Labels: thirdeye-ui
