Repository startreedata/thirdeye, pull requests merged in 2023-03, with the labels that each got.

#997 feat(ui): TE-1305 added link to config section in welcome flow
  thirdeye-ui/src/app/locale/languages/en-us.json
  thirdeye-ui/src/app/pages/welcome-page/landing/landing-page.component.tsx
Labels: thirdeye-ui

#999 feat(ui): TE-1304 support count * as a metric
  thirdeye-ui/src/app/components/alert-wizard-v3/threshold-setup/threshold-setup.component.tsx
  thirdeye-ui/src/app/components/alert-wizard-v3/threshold-setup/threshold-setup.utils.test.ts
  thirdeye-ui/src/app/components/alert-wizard-v3/threshold-setup/threshold-setup.utils.ts
  thirdeye-ui/src/app/pages/metrics-update-page/metrics-update-page.component.tsx
  thirdeye-ui/src/app/rest/dto/metric.interfaces.ts
  thirdeye-ui/src/app/rest/metrics/metrics.rest.ts
  thirdeye-ui/src/app/utils/bulk-delete/bulk-delete.util.ts
  thirdeye-ui/src/app/utils/datasources/datasources.util.ts
Labels: thirdeye-ui

#1000 fix(ui): TE-1366 allow dimension exploration values in template properties validator
  thirdeye-ui/src/app/utils/alerts/alerts-configuration-validator.util.test.ts
  thirdeye-ui/src/app/utils/alerts/alerts-configuration-validator.util.ts
Labels: thirdeye-ui

#998 feat(ui): TE-1364 added sequential flow between tabs in subscription group wizard
  thirdeye-ui/src/app/components/subscription-group-wizard/alerts-dimensions/alerts-dimensions.component.tsx
  thirdeye-ui/src/app/components/subscription-group-wizard/subscription-group-details/properties-form/properties-form.component.tsx
  thirdeye-ui/src/app/components/subscription-group-wizard/subscription-group-details/recipient-details/recipient-details.component.tsx
  thirdeye-ui/src/app/components/subscription-group-wizard/subscription-group-wizard.component.tsx
  thirdeye-ui/src/app/locale/languages/en-us.json
  thirdeye-ui/src/app/pages/subscription-groups-create-page/subscription-groups-create-page.component.tsx
  thirdeye-ui/src/app/pages/subscription-groups-update-page/subscription-groups-update-page.component.tsx
Labels: thirdeye-ui

#1006 feat(ui): TE-1361 remove holt-winters from guided user flow algorithm selection
  thirdeye-ui/src/app/components/alert-wizard-v3/algorithm-selection/algorithm-selection.utils.ts
  thirdeye-ui/src/app/locale/languages/en-us.json
Labels: thirdeye-ui

#1005 feat(ui): TE-1377 add rideshare sample alert
  thirdeye-ui/src/app/components/alert-wizard-v3/sample-alert-selection/sample-alert.utils.ts
  thirdeye-ui/src/app/locale/languages/en-us.json
Labels: thirdeye-ui

#1012 feat(ui): TE-1378 enable callback function for when users make a range selection in TimeSeriesChart
  thirdeye-ui/src/app/components/visualizations/time-series-chart/time-series-chart.component.tsx
  thirdeye-ui/src/app/components/visualizations/time-series-chart/time-series-chart.interfaces.ts
Labels: thirdeye-ui

#1015 chore(ui): [auto] add changelog for thirdeye-ui-2.12.0 release
  thirdeye-ui/CHANGELOG.md
Labels: thirdeye-ui config, release

#1014 feat(ui): TE-1386 updated sidebar logos
  thirdeye-ui/src/app/platform/assets/images/startree-dark.svg
  thirdeye-ui/src/app/platform/assets/images/startree-icon-dark.svg
  thirdeye-ui/src/app/platform/assets/images/startree-icon-light.svg
  thirdeye-ui/src/app/platform/assets/images/startree-light.svg
Labels: thirdeye-ui

#1016 feat(ui): TE-1388 enabling drag select to assign daterange to anomalies in create anomaly page
  thirdeye-ui/src/app/components/alert-view/alert-options-button/alert-options-button.component.tsx
  thirdeye-ui/src/app/components/alert-view/enumeration-items-table/enumeration-item-row/enumeration-item-row.component.tsx
  thirdeye-ui/src/app/components/anomalies-create/create-anomalies-date-range-picker/create-anomalies-date-range-picker.componnent.tsx
  thirdeye-ui/src/app/components/anomalies-create/create-anomalies-date-range-picker/create-anomalies-date-range-picker.interfaces.ts
  thirdeye-ui/src/app/components/anomalies-create/create-anomalies-date-range-picker/create-anomalies-date-range-picker.utils.ts
  thirdeye-ui/src/app/components/anomalies-create/create-anomaly-properties-form/create-anomaly-properties-form.component.tsx
  thirdeye-ui/src/app/components/anomalies-create/create-anomaly-properties-form/create-anomaly-properties-form.interfaces.ts
  thirdeye-ui/src/app/components/anomalies-create/create-anomaly-wizard/create-anomaly-wizard.component.tsx
  thirdeye-ui/src/app/components/anomalies-create/create-anomaly-wizard/create-anomaly-wizard.utils.test.ts
  thirdeye-ui/src/app/components/anomalies-create/create-anomaly-wizard/create-anomaly-wizard.utils.ts
  thirdeye-ui/src/app/components/anomalies-create/preview-anomaly-chart/preview-anomaly-chart.component.tsx
  thirdeye-ui/src/app/components/anomalies-create/preview-anomaly-chart/preview-anomaly-chart.interfaces.ts
  thirdeye-ui/src/app/components/help-drawer-v1/help-drawer-card-contents.utils.tsx
  thirdeye-ui/src/app/components/visualizations/alert-evaluation-time-series-card/alert-evaluation-time-series-card.component.tsx
  thirdeye-ui/src/app/components/visualizations/alert-evaluation-time-series-card/alert-evaluation-time-series-card.interfaces.ts
  thirdeye-ui/src/app/locale/languages/en-us.json
  thirdeye-ui/src/app/pages/anomalies-create-page/anomalies-create-page.component.tsx
  thirdeye-ui/src/app/rest/dto/alert.interfaces.ts
Labels: thirdeye-ui

#1020 chore(ui): [auto] add changelog for thirdeye-ui-2.13.0 release
  thirdeye-ui/CHANGELOG.md
Labels: thirdeye-ui config, release

#1021 refactor(ui): TE-1418 alert accuracy fetches in component
  thirdeye-ui/src/app/components/alert-accuracy-colored/alert-accuracy-colored.component.tsx
  thirdeye-ui/src/app/components/alert-accuracy-colored/alert-accuracy-colored.interface.ts
  thirdeye-ui/src/app/components/alert-list-v1/alert-list-v1.component.tsx
  thirdeye-ui/src/app/components/alert-view/enumeration-items-table/enumeration-item-row/enumeration-item-row.component.tsx
  thirdeye-ui/src/app/components/alert-view/enumeration-items-table/enumeration-item-row/enumeration-item-row.interfaces.ts
  thirdeye-ui/src/app/components/alert-view/enumeration-items-table/enumeration-items-table.component.tsx
  thirdeye-ui/src/app/components/alert-view/enumeration-items-table/enumeration-items-table.interfaces.ts
  thirdeye-ui/src/app/pages/alerts-all-page/alerts-all-page.component.tsx
  thirdeye-ui/src/app/pages/alerts-view-page/alerts-view-page.component.tsx
  thirdeye-ui/src/app/rest/alerts/alerts.actions.test.ts
  thirdeye-ui/src/app/rest/alerts/alerts.actions.ts
  thirdeye-ui/src/app/rest/alerts/alerts.interfaces.ts
  thirdeye-ui/src/app/rest/alerts/alerts.rest.ts
  thirdeye-ui/src/app/rest/dto/ui-alert.interfaces.ts
Labels: thirdeye-ui

#1023 fix(ui): TE-1412 use insights api to derive timezone for anomaly chart
  thirdeye-ui/src/app/pages/anomalies-view-page/anomalies-view-page.component.tsx
Labels: thirdeye-ui

#1025 fix(ui): TE-1399 fix canceled apis when using filters for anomalies
  thirdeye-ui/src/app/routers/anomalies/anomalies.router.tsx
Labels: thirdeye-ui

#1027 chore(ui): [auto] add changelog for thirdeye-ui-2.13.1 release
  thirdeye-ui/CHANGELOG.md
Labels: thirdeye-ui config, release

#1028 feat(ui): TE-1441 remove 2.13.1 entry in changelog and forcing new version
  thirdeye-ui/CHANGELOG.md
Labels: thirdeye-ui config

#1029 chore(ui): [auto] add changelog for thirdeye-ui-2.14.0 release
  thirdeye-ui/CHANGELOG.md
Labels: thirdeye-ui config, release

#1032 refactor(ui): TE-1450 helpdrawerv1 maintain isopen state
  thirdeye-ui/src/app/components/anomalies-page-header/anomalies-page-header.component.tsx
  thirdeye-ui/src/app/components/help-drawer-v1/help-drawer-v1.component.tsx
  thirdeye-ui/src/app/components/help-drawer-v1/help-drawer-v1.interfaces.ts
  thirdeye-ui/src/app/components/rca/investigation-options/investigation-options.component.tsx
  thirdeye-ui/src/app/pages/alerts-all-page/alerts-all-page.component.tsx
  thirdeye-ui/src/app/pages/alerts-update-page/alerts-edit-base-page.component.tsx
  thirdeye-ui/src/app/pages/anomalies-create-page/anomalies-create-page.component.tsx
  thirdeye-ui/src/app/pages/anomalies-view-page/anomalies-view-page.component.tsx
Labels: thirdeye-ui

#1033 chore(ui): TE-1449 cleaning up unused code
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-notifications/alert-notifications.component.tsx
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-notifications/subscription-groups/subscription-groups.component.tsx
  thirdeye-ui/src/app/components/alert-wizard-v2/alert-notifications/subscription-groups/subscription-groups.interfaces.ts
  thirdeye-ui/src/app/components/alert-wizard-v3/notification-configuration/notification-configuration.component.tsx
  thirdeye-ui/src/app/components/alert-wizard-v3/notification-configuration/only-emails/only-emails.component.tsx
  thirdeye-ui/src/app/components/alert-wizard-v3/notification-configuration/only-emails/only-emails.interfaces.ts
  thirdeye-ui/src/app/components/alert-wizard-v3/threshold-setup/threshold-setup.component.tsx
  thirdeye-ui/src/app/components/alert-wizard-v3/threshold-setup/threshold-setup.interfaces.ts
  thirdeye-ui/src/app/pages/alerts-create-guided-page/alerts-create-guided-page.interfaces.ts
  thirdeye-ui/src/app/pages/alerts-create-guided-page/setup-details/setup-details-page.component.tsx
  thirdeye-ui/src/app/pages/alerts-create-guided-page/setup-monitoring/setup-monitoring-page.component.tsx
  thirdeye-ui/src/app/pages/alerts-create-guided-page/setup-monitoring/setup-monitoring-page.interfaces.ts
  thirdeye-ui/src/app/pages/welcome-page/create-alert/create-alert-page.component.tsx
  thirdeye-ui/src/app/routers/alerts-guided-create/alerts-guided-create.router.interface.ts
  thirdeye-ui/src/app/routers/alerts-guided-create/alerts-guided-create.router.tsx
  thirdeye-ui/src/app/routers/alerts/alerts.router.tsx
  thirdeye-ui/src/app/routers/welcome/welcome.router.tsx
Labels: thirdeye-ui

#1038 fix(ui): TE-1449 cosmetic fix to padding on left and right sides with loading switch component
  thirdeye-ui/src/app/components/page-states/loading-error-state-switch/loading-error-state-switch.component.tsx
  thirdeye-ui/src/app/components/page-states/loading-error-state-switch/loading-error-state-switch.interfaces.ts
  thirdeye-ui/src/app/pages/alerts-update-page/alerts-edit-base-page.component.tsx
  thirdeye-ui/src/app/pages/welcome-page/create-alert/create-alert-page.component.tsx
Labels: thirdeye-ui

#1037 chore(ui): [auto] add changelog for thirdeye-ui-2.15.0 release
  thirdeye-ui/CHANGELOG.md
Labels: thirdeye-ui config, release
