Repository startreedata/thirdeye, pull requests merged in 2024-03, with the labels that each got.

#1349 fix(ui): TE-2175 improve onboarding datasource configuration
  thirdeye-ui/src/app/rest/dto/datasource.interfaces.ts
  thirdeye-ui/src/app/utils/datasources/datasources.util.test.ts
  thirdeye-ui/src/app/utils/datasources/datasources.util.ts
Labels: thirdeye-ui

#1354 fix(ui): TE-2130 add checkbox to slack edit and view for subscription group spec
  thirdeye-ui/src/app/components/subscription-group-view/notification-channels-card/notification-channels-card.utils.tsx
  thirdeye-ui/src/app/components/subscription-group-wizard/subscription-group-details/recipient-details/groups-editor/groups-editor.component.tsx
  thirdeye-ui/src/app/components/subscription-group-wizard/subscription-group-details/recipient-details/groups-editor/slack/slack.component.tsx
  thirdeye-ui/src/app/components/subscription-group-wizard/subscription-group-details/recipient-details/groups-editor/slack/slack.interfaces.ts
  thirdeye-ui/src/app/components/subscription-group-wizard/subscription-group-details/recipient-details/groups-editor/slack/slack.test.tsx
  thirdeye-ui/src/app/locale/languages/en-us.json
  thirdeye-ui/src/app/rest/dto/subscription-group.interfaces.ts
Labels: thirdeye-ui

#1356 fix(ui): TE-2112 enable copying the dimension filter
  thirdeye-ui/src/app/components/copy-button/copy-button.component.tsx
  thirdeye-ui/src/app/components/copy-button/copy-button.interfaces.ts
  thirdeye-ui/src/app/components/rca/heat-map/dimension-search-automcomplete/dimension-search-autocomplete.component.tsx
  thirdeye-ui/src/app/locale/languages/en-us.json
  thirdeye-ui/src/app/utils/browser/browser.utils.ts
Labels: thirdeye-ui

#1357 chore(ui): [auto] add changelog for thirdeye-ui-2.45.7 release
  thirdeye-ui/CHANGELOG.md
Labels: thirdeye-ui config, release

#1358 chore(ui): [auto] add changelog for thirdeye-ui-2.45.8 release
  thirdeye-ui/CHANGELOG.md
Labels: thirdeye-ui config, release

#1341 chore(ui): [auto] add changelog for thirdeye-ui-2.45.6 release
  thirdeye-ui/CHANGELOG.md
Labels: thirdeye-ui config, release

#1350 fix(ui): TE-2175 improve onboarding datasource configuration
  thirdeye-ui/src/app/rest/dto/datasource.interfaces.ts
  thirdeye-ui/src/app/utils/datasources/datasources.util.test.ts
  thirdeye-ui/src/app/utils/datasources/datasources.util.ts
Labels: thirdeye-ui

#1360 fix(ui): TE-2112 rca heatmap page changes
  thirdeye-ui/src/app/components/rca/analysis-tabs/baseline-offset-selection/baseline-offset-selection.component.tsx
  thirdeye-ui/src/app/components/rca/heat-map-section/heat-map-section.component.tsx
  thirdeye-ui/src/app/components/rca/heat-map-section/heat-map-section.interfaces.ts
  thirdeye-ui/src/app/components/rca/heat-map/heat-map.component.tsx
  thirdeye-ui/src/app/components/rca/heat-map/heat-map.interfaces.ts
  thirdeye-ui/src/app/components/rca/heat-map/heat-map.utils.tsx
  thirdeye-ui/src/app/components/rca/top-contributors-section/top-contributors-section.component.tsx
  thirdeye-ui/src/app/components/rca/top-contributors-section/top-contributors-section.interfaces.ts
  thirdeye-ui/src/app/components/rca/top-contributors-table/preview-chart/preview-chart.component.tsx
  thirdeye-ui/src/app/components/rca/top-contributors-table/top-contributors-row.component.tsx
  thirdeye-ui/src/app/components/rca/top-contributors-table/top-contributors-table.component.tsx
  thirdeye-ui/src/app/components/rca/what-where-navigation/what-where-navigation.component.tsx
  thirdeye-ui/src/app/locale/languages/en-us.json
  thirdeye-ui/src/app/pages/rca/dimension-analysis-drills-page/dimension-analysis-drills-page.component.tsx
  thirdeye-ui/src/app/pages/rca/heat-map-page/heat-map-page.component.tsx
  thirdeye-ui/src/app/pages/rca/top-contributors-page/top-contributors-page.component.tsx
  thirdeye-ui/src/app/pages/rca/what-where-page/what-where-page.component.tsx
  thirdeye-ui/src/app/routers/root-cause-analysis/rca.router.tsx
Labels: thirdeye-ui

#1362 chore(ui): [auto] add changelog for thirdeye-ui-2.45.9 release
  thirdeye-ui/CHANGELOG.md
Labels: thirdeye-ui config, release

#1363 chore(ui): TE-2192 add security headers
  thirdeye-ui/docker/templates/default.conf.template
Labels: thirdeye-ui config

#1364 chore(ui): TE-2193 add csp headers
  thirdeye-ui/docker/templates/default.conf.template
Labels: thirdeye-ui config

#1365 fix(ui): TE-1 update readme
  thirdeye-ui/README.md
Labels: thirdeye-ui config

#1368 fix(ui): TE-2112 ux feedback improvements for rca page
  thirdeye-ui/src/app/components/rca/top-contributors-section/top-contributors-section.component.tsx
  thirdeye-ui/src/app/locale/languages/en-us.json
  thirdeye-ui/src/app/pages/rca/what-where-page/what-where-page.component.tsx
Labels: thirdeye-ui

#1373 fix(ui): TE-2166 remove ONBOARDING TaskType
  thirdeye-integration-tests/src/test/java/ai/startree/thirdeye/arch/ArchitectureTest.java
  thirdeye-scheduler/src/main/java/ai/startree/thirdeye/scheduler/SchedulerService.java
  thirdeye-scheduler/src/main/java/ai/startree/thirdeye/scheduler/ThirdEyeSchedulerConfiguration.java
  thirdeye-scheduler/src/main/java/ai/startree/thirdeye/scheduler/ThirdEyeSchedulerModule.java
  thirdeye-scheduler/src/main/java/ai/startree/thirdeye/scheduler/monitor/MonitorConfiguration.java
  thirdeye-scheduler/src/main/java/ai/startree/thirdeye/scheduler/monitor/MonitorJobContext.java
  thirdeye-scheduler/src/main/java/ai/startree/thirdeye/scheduler/monitor/MonitorJobRunnable.java
  thirdeye-scheduler/src/main/java/ai/startree/thirdeye/scheduler/monitor/MonitorJobScheduler.java
  thirdeye-scheduler/src/main/java/ai/startree/thirdeye/scheduler/monitor/TaskGenerator.java
  thirdeye-scheduler/src/main/java/ai/startree/thirdeye/scheduler/taskcleanup/TaskCleanUpConfiguration.java
  thirdeye-spi/src/main/java/ai/startree/thirdeye/spi/task/TaskType.java
  thirdeye-ui/src/app/rest/dto/taks.interface.ts
  thirdeye-worker/src/main/java/ai/startree/thirdeye/worker/task/MonitorTaskInfo.java
  thirdeye-worker/src/main/java/ai/startree/thirdeye/worker/task/TaskInfoFactory.java
  thirdeye-worker/src/main/java/ai/startree/thirdeye/worker/task/TaskRunnerFactory.java
  thirdeye-worker/src/main/java/ai/startree/thirdeye/worker/task/runner/MonitorTaskRunner.java
Labels: thirdeye-ui

#1367 [Snyk] Security upgrade nginx from 1.25.3-alpine to 1.25.4-alpine
  thirdeye-ui/Dockerfile
Labels: thirdeye-ui config
