Repository startreedata/thirdeye, pull requests merged in 2024-01, with the labels that each got.

#1282 chore(ui): [auto] add changelog for thirdeye-ui-2.45.0 release
  thirdeye-ui/CHANGELOG.md
Labels: thirdeye-ui config, release

#1289 chore(ui): TE-2039 add hot module replacement
  thirdeye-ui/package-lock.json
  thirdeye-ui/package.json
  thirdeye-ui/webpack.config.dev.js
Labels: thirdeye-ui config

#1290 fix(ui): TE-1886 pager duty support for subscription group
  thirdeye-ui/src/app/components/subscription-group-view/notification-channels-card/notification-channels-card.utils.tsx
  thirdeye-ui/src/app/components/subscription-group-wizard/subscription-group-details/recipient-details/groups-editor/groups-editor.component.tsx
  thirdeye-ui/src/app/components/subscription-group-wizard/subscription-group-details/recipient-details/groups-editor/groups-editor.utils.ts
  thirdeye-ui/src/app/components/subscription-group-wizard/subscription-group-details/recipient-details/groups-editor/pager-duty/pager-duty.component.tsx
  thirdeye-ui/src/app/components/subscription-group-wizard/subscription-group-details/recipient-details/groups-editor/pager-duty/pager-duty.interfaces.ts
  thirdeye-ui/src/app/components/subscription-group-wizard/subscription-group-details/recipient-details/groups-editor/pager-duty/pager-duty.test.tsx
  thirdeye-ui/src/app/locale/languages/en-us.json
  thirdeye-ui/src/app/rest/dto/subscription-group.interfaces.ts
Labels: thirdeye-ui

#1291 chore(ui): [auto] add changelog for thirdeye-ui-2.45.1 release
  thirdeye-ui/CHANGELOG.md
Labels: thirdeye-ui config, release

#1299 fix(ui): TE-2049 retain dimension, query, and selected cohorts when navigating back in alert flow
  thirdeye-ui/src/app/components/cohort-detector/cohorts-table/cohorts-table.component.tsx
  thirdeye-ui/src/app/components/cohort-detector/cohorts-table/cohorts-table.interfaces.ts
  thirdeye-ui/src/app/components/cohort-detector/cohorts-table/cohorts-table.utils.ts
  thirdeye-ui/src/app/components/cohort-detector/dataset-details/dataset-details.component.tsx
  thirdeye-ui/src/app/pages/alerts-create-guided-page/setup-dimension-groups/setup-dimension-groups-page.component.tsx
  thirdeye-ui/src/app/pages/alerts-create-page/alerts-create-base-page.component.tsx
  thirdeye-ui/src/app/rest/dto/rca.interfaces.ts
  thirdeye-ui/src/app/utils/storage/use-session-storage.ts
Labels: thirdeye-ui

#1305 fix(ui): TE-2049 ensure the alert creation data does not persist beyond the flow
  thirdeye-ui/src/app/pages/alerts-create-page/alerts-create-base-page.component.tsx
  thirdeye-ui/src/app/routers/alerts-guided-create/alerts-guided-create.router.tsx
Labels: thirdeye-ui

#1307 chore(ui): [auto] add changelog for thirdeye-ui-2.45.3 release
  thirdeye-ui/CHANGELOG.md
Labels: thirdeye-ui config, release

#1302 chore(ui): [auto] add changelog for thirdeye-ui-2.45.2 release
  thirdeye-ui/CHANGELOG.md
Labels: thirdeye-ui config, release

#1308 fix(ui): TE-2068 pager duty enum fix
  thirdeye-ui/src/app/rest/dto/subscription-group.interfaces.ts
Labels: thirdeye-ui

#1304 fix(ui): TE-2051 razorpay rca issues
  thirdeye-ui/src/app/components/rca/investigation-steps-navigation/investigation-steps-navigation.component.tsx
  thirdeye-ui/src/app/pages/rca/review-share-save-page/review-share-save-page.component.tsx
  thirdeye-ui/src/app/pages/root-cause-analysis-investigation-state-tracker/investigation-state-tracker.component.tsx
  thirdeye-ui/src/app/utils/routes/routes.util.ts
Labels: thirdeye-ui

#1310 chore(ui): [auto] add changelog for thirdeye-ui-2.45.4 release
  thirdeye-ui/CHANGELOG.md
Labels: thirdeye-ui config, release

#1317 [misc] bump pinot version to 1.0.0
  pinot-test-container/src/main/java/org/apache/pinot/testcontainer/PinotContainer.java
  thirdeye-ui/src/test/e2e/helper-scripts/docker-compose.yaml
  thirdeye-ui/src/test/e2e/helper-scripts/launch_fresh_be_with_current_fe.py
Labels: thirdeye-ui

#1319 fix(ui): TE-2049 add custom query filter to the alert config
  thirdeye-ui/src/app/components/cohort-detector/dataset-details/dataset-details.component.tsx
  thirdeye-ui/src/app/components/cohort-detector/dataset-details/dataset-details.interfaces.ts
  thirdeye-ui/src/app/pages/alerts-create-guided-page/setup-dimension-groups/setup-dimension-groups-page.component.tsx
Labels: thirdeye-ui

#1320 chore(ui): [auto] add changelog for thirdeye-ui-2.45.5 release
  thirdeye-ui/CHANGELOG.md
Labels: thirdeye-ui config, release
